<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs') %>
    <h1><%=heading%></h1>
    <h2><%=message%></h2>
    <% errors.map(error =>{ %>
        <p><%=error.msg%></p>
    <%})%>
    <a href="/accounts/sign-up">Go back to sign up page</a>
    <%-include('./partials/footer.ejs') %>
</body>
</html>