<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <h1><%=title%></h1>
    <h2>Name: <%=attendant.name%></h2>
    <p>Username: <%=attendant.username%></p>
    <p>Email: <%=attendant.email%></p>
    <%-include('../partials/footer.ejs') %>
</body>
</html>